extends ./partials.pug
block content

	section
		.container.login-wrapper
			.grabaplant
				.header_title.text-center
					h1 
						span(style='color:#82ca9c;font-weight:bold')  #{onePlant.plantName}
					p(class="") Aangeboden door: 
						| #{onePlant.user.userName} in #{onePlant.user.city}
					strong Omschrijving: 
					br
					span #{onePlant.description}
						button.form-button.buybutton Ja die wil ik!



