html,
body {
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #565656; }

ul {
  list-style-type: none; }

/* BEGIN STYLING HOME SECTION */
.home {
  background: url(../img/jungle3.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover; }

.home-wrapper {
  padding: 150px 0px;
  overflow: hidden; }

.row {
  margin-top: 50px; }

.home-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 2px 2px 2px #969696; }
.home-content h2 {
  margin-bottom: 30px;
  color: #fff; }

.home-content .home-contact {
  margin-top: 90px; }

form select {
  padding: 18px 45px 18px 25px;
  display: inline-block;
  font-size: 16px;
  width: 335px;
  float: none;
  border-style: none;
  border: 2px solid #fff;
  background: #fff; }

.adress {
  margin-top: 50px; }
  .adress .form-input {
    padding: 18px 45px 18px 25px;
    display: inline-block;
    font-size: 16px;
    width: 335px;
    float: none;
    border-style: none;
    border: 2px solid #fff;
    background: #ccc; }
  .adress .form-button {
    display: inline-block;
    background-color: #ffa85e;
    border: 3px solid #ffa85e;
    padding: 14px 45px 16px 45px;
    border-radius: 6px;
    color: #fff;
    margin-left: 11px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: normal;
    width: auto; }
  .adress .form-button-green {
    background-color: #4CAF50; }

/* ENDING STYLING HOME SECTION */
/* BEGIN STYLING TESTIMONIALS SECTION */
.testimonials {
  overflow: hidden;
  min-height: 600px;
  font-size: 48px;
  font-weight: 700; }
  .testimonials h1 {
    padding: 45px 0px 0px 0; }

/* BEGIN STYLING CAROUSEL */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px; }

/* CONTROL BUTTONS */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px; }

/* PREVIOUS BUTTON  */
#quote-carousel .carousel-control.left {
  left: -12px;
  color: #82ca9c; }

/* NEXT BUTTON  */
#quote-carousel .carousel-control.right {
  right: -12px !important;
  color: #82ca9c; }

/* CHANGE POSITION INDICATORS */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px; }

/* CHANGES COLOR OF INDICATOR*/
#quote-carousel .carousel-indicators li {
  background: #c0c0c0; }

#quote-carousel .carousel-indicators .active {
  background: #333333; }

#quote-carousel img {
  width: 250px;
  height: 100px; }

/* END STYLING CAROUSEL */
/* BEGIN STYLING QUOTES */
.item blockquote {
  border-left: none;
  margin: 0px 50px;
  padding: 10px; }

.item blockquote img {
  margin-bottom: 10px; }

.item blockquote p {
  font-weight: normal; }

.testimonial-description {
  padding: 0 15px;
  font-size: 13px;
  color: #808080;
  line-height: 26px; }

.testimonial-title {
  font-size: 14px;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
  position: relative; }

.testimonial-title span {
  font-size: 10px; }

.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px; }

.item blockquote p:after {
  content: "\f10e";
  font-family: 'Fontawesome';
  margin-left: 10px; }

/* ENDING STYLING QUOTES */
/* ENDING STYLING TESTIMONIAL SECTION */
/* BEGIN LOGIN PAGE AND FORM*/
section .loginpage {
  background: url(../img/planten.jpeg) no-repeat center center;
  padding: 0 0;
  background-size: cover; }

.login form {
  position: relative;
  background: #fff;
  max-width: 360px;
  margin: 100px auto;
  padding: 20px 45px 45px 45px;
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 0px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }
  .login form h2 {
    font-size: 28px;
    margin-bottom: 20px; }

.login input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  background: #f5f5f5; }
  .login input:focus {
    border-color: #82ca9c;
    outline: none; }

button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 58px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #4CAF50;
  border: 0;
  border-radius: 5px;
  cursor: pointer; }
  button:active {
    top: 1px;
    outline: none; }

.login .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px; }

/* ENDING LOGIN PAGE AND FORM */
/* BEGIN SIGNUP PAGE AND FORM */
#form-wrapper {
  width: 995px;
  padding: 0px;
  margin: 0px auto;
  font-family: helvetica;
  position: relative; }

#previous, #submitsignup {
  display: inline-block;
  width: 48%;
  margin-right: 5px; }

#adress-details {
  display: none; }

.login-wrapper {
  overflow: hidden;
  min-height: 750px; }

/* ENDING SIGNUP PAGE AND FORM */
/* BEGIN OFFERS PAGE*/
.header_title {
  margin-bottom: 40px; }
  .header_title p {
    margin: 10px auto;
    padding-bottom: 20px; }

.city_container {
  width: 800px;
  display: block;
  margin: 0 auto;
  overflow: hidden; }

.category_item {
  float: left;
  width: 25%;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  color: black;
  font-family: 'Roboto', sans-serif; }

.category_item:hover {
  background-color: #ffb655;
  color: white; }

.plant_item {
  box-sizing: border-box;
  float: left;
  transition: all 0.4s ease-in-out; }

.thumbnail {
  margin-bottom: 15px;
  border-top: none; }

.thumbnail > img {
  max-width: 40%; }

.img-responsive {
  max-width: 25%; }

.plant-card {
  background: #fff;
  padding: 30px 30px 0px 30px;
  border: 1px solid #ececec;
  box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, 0.2);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, 0.2);
  -moz-box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, 0.2);
  -o-box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, 0.2);
  -ms-box-shadow: 2px 2px 5px 0 rgba(55, 50, 40, 0.2);
  transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  margin-bottom: 50px; }
  .plant-card i {
    font-size: 60px;
    color: #82ca9c;
    margin-bottom: 20px; }
  .plant-card h4 {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px; }
  .plant-card p {
    color: #777777; }

.plant-card:hover {
  background: #82ca9c;
  color: #fff; }
  .plant-card:hover i {
    color: #fff; }
  .plant-card:hover h4, .plant-card:hover p {
    color: #fff; }

.offeredby {
  font-size: 12px;
  color: #777777;
  text-align: center; }

.offeredin {
  text-align: center; }

#meerinfo {
  font-size: 16px;
  width: 75%;
  height: 30px;
  margin: 10px 0px 30px 0px; }

/* ENDING OFFERS PAGE */
/* BEGIN GRABAPLANT PAGE */
.grabaplant {
  margin-top: 50px;
  border: 1px solid #ccc;
  padding: 30px 30px 0px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  left: 50%;
  top: 25%; }
  .grabaplant p {
    color: black; }

.buybutton {
  margin-top: 20px;
  max-width: 75%; }

/* ENDING GRABAPLANT PAGE */
/* BEGIN ADDPLANT PAGE */
.login textarea {
  resize: none;
  width: 100%;
  height: 10em;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: #f5f5f5;
  border: 2px solid #ebebeb;
  border-radius: 4px; }
  .login textarea:focus {
    border-color: #82ca9c;
    outline: none; }

/* ENDING ADDPLANT PAGE */
/* MEDIA QUERIES */
/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
  .item blockquote {
    margin: 0px 40px; }

  #quote-carousel .carousel-indicators {
    bottom: -20px !important; }

  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px; }

  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px; }

  .adress .form-button {
    margin-top: 10px; } }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px; } }
/* END MEDIA QUERIES */
html {
  position: relative;
  min-height: 100%; }

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5; }

#footer {
  position: relative;
  height: 5em;
  line-height: 5em;
  margin: 0;
  background: #f5f5f5;
  overflow: hidden; }

#logo {
  max-width: 5%;
  vertical-align: 0em; }

#footer a {
  color: inherit; }

#footer a:hover {
  color: #b9babb; }

#footer ul.actions {
  position: absolute;
  left: 1em;
  top: 0.25em;
  height: 5em;
  line-height: 5em;
  margin: 0; }

#footer ul.actions li {
  font-size: 1.25em;
  margin: 0; }

#footer ul.actions li a {
  padding: 0.5em; }

#footer ul.menu {
  position: absolute;
  right: 2em;
  top: 0;
  height: 5em;
  line-height: 5em;
  margin: 0; }

#footer ul.menu li {
  border-left-color: rgba(185, 186, 187, 0.2);
  font-size: 0.9em;
  display: inline-block;
  border-left-color: rgba(185, 186, 187, 0.2);
  font-size: 0.9em;
  padding: 0px 20px; }

@media screen and (max-width: 1000px) {
  #footer {
    height: auto;
    line-height: inherit;
    text-align: center;
    padding: 2em 1em 2em 1em; }

  #footer ul.actions {
    position: relative;
    left: 0;
    top: 0;
    height: auto;
    line-height: inherit;
    margin: 0 0 1em 0; }

  #footer ul.menu {
    position: relative;
    right: 0;
    top: 0;
    height: auto;
    line-height: inherit; } }
@media screen and (max-width: 736px) {
  #footer ul.menu li {
    border-left: 0;
    padding: 1em 0 0 0;
    margin: 0;
    display: block; }

  #footer ul.menu li:first-child {
    padding-top: 0; }

  #footer ul.menu li a {
    line-height: 1.5em; } }
/*BEGIN STYLING NAVBAR*/
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0; }

.navbar {
  margin-bottom: 0px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #82ca9c;
  background-color: transparent; }

.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }

.navbar-default .navbar-nav li a :hover {
  color: #82ca9c; }

.navbar-default .collapse .login a {
  color: #82ca9c;
  border: 1px solid #82ca9c;
  border-radius: 20px;
  padding: 4px 30px;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 30px;
  display: inline-block;
  overflow: hidden; }

.navbar-default .collapse .login:hover a {
  background-color: rgba(0, 173, 62, 0.75);
  color: #fff; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #82ca9c;
  background-color: transparent; }

.navbar-brand {
  margin-top: -5px;
  width: 100px;
  display: inline-block; }
  .navbar-brand img {
    display: inline-block;
    max-width: 5%;
    vertical-align: 0em; }

#brand {
  margin: 5px 10px; }

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  #brand {
    margin: 20px 10px;
    font-size: 20px; }

  .navbar-toggle {
    width: 50px;
    display: inline-block; }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #82ca9c; } }
/* END STYLING NAVBAR */

/*# sourceMappingURL=main.css.map */
